.app-download{
    margin:auto auto;
    margin-top:100px;
    font-size:max(3vw,20px);
    text-align:center;
    font-weight:500;
}

.app-download-platform{
    display:flex;
    justify-content: center;
    margin-top:40px;
    gap:max(2vw,10px);
}

.app-download-platform img{
    width:max(30vw,120px);
    cursor:pointer;
    max-width:180px;
    transition: 0.5s;
}
.app-download-platform img:hover{
    transform :scale(1.05);
}